/*Reset*/
* {
    /*Margem = Externa */
    margin: 0;
    box-sizing: border-box;

}

body {

    /* Cor Fundo */
    background-color: #69200f;

    /* Cor Texto */
    color: white;

}

/* Seletor para os <A> */
a {
    /* Propriedade e Valor */
    text-decoration: none;
    color: white;
}




/* Header = Cabeçalho */
header {
    /* Row Linha Horizontal*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b4593d;

    /* Largura */
    width: 100%
}

/* UL */
.menu {
    list-style: none;
    /* Lista Horizontal */
    display: flex;
    /* Espaço entre TAGS*/
    gap: 1rem;
}

/* TAG NAV */
.menu-desktop {
    display: none;
}

/* Versão Mobile */


/* Responsivo */
/* Telas Maiores */

/* Telas Maiores que 768px */
@media (min-width: 768px) {
    header {
        /* Espaço Interno*/
       padding: 1rem 6rem;
       justify-content: ;
       gap: ;
    } 

    /* NAV */
    .menu-desktop {
        display: flex;
    }


}